.seccion-cards-principal {
  display: flex;
  justify-content: center;
}

/* ESTILOS DE CARD PRINCIPAL NOVEDADES*/
.container-Card-principal {
  margin-right: 4rem;
}

.container-Card-principal__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.container-Card-principal__images {
  width: 37.6rem;
  height: 19.6rem;
  border-radius: 1.25rem;
}

.container-Card-principal__images--hoover-efecto:hover{
  transform: scale(1.1); /* Aumenta el tamaño de la imagen en un 10% al pasar el cursor */
  cursor: pointer;
}

.sub-container-card-principal {
  display: flex;
  align-items: center;
}

.sub-container-card-principal__logo {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.sub-container-card-principal__text {
  font-size: 1.6rem;
  font-weight: 500;
}

/* ESTILOS DE CARDS SMALL - SECCION NOVEDADES */

.cards-small-novedades {
  display: flex;
  margin-bottom: 1.5rem;
}

.cards-small-novedades__image {
  width: 12.8rem;
  height: 10rem;
  border-radius: 1.25rem;
  margin-right: 20px;
}

.sub-container-card-small {
  line-height: 15px;
}

.sub-container-card-small__title {
  font-size: 1.25rem;
  width: 55%;
  line-height: 25px;
}

.sub-container-card-small-logo {
  display: flex;
  align-items: center;
}

.sub-container-card-small-logo__logo {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  margin-right: 1rem;
}

.sub-container-card-small-logo__text {
  font-weight: 500;
}

/* ESTILO SECCION CARD POPULARES Y CATEGORIA*/

.seccion-2 {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

.seccion-card-2 {
  display: flex;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
  margin: 2rem;
  justify-content: center;
  margin-bottom: 20px;
}

.seccion-populares-cards {
  display: flex;
}

.seccion-2-cards {
  margin: 1rem;
}

.seccion-2-cards__image {
  width: 18.6rem;
  height: 12.5rem;
  border-radius: 1rem;
}

.sub-seccion-2-cards {
  display: flex;
  align-items: center;
  &__date {
    margin-left: 30px;
  }
}

.sub-seccion-2-cards__logo {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.sub-seccion-2-cards__text {
  font-size: 1rem;
  font-weight: 500;
}
